
<h1 class="mt-3 font-weight-light">YouTuve Videos</h1>
<hr>

<div class="card-cplimnas">

    <div class="card" ngFor="let video of video">
        <img [src]="video.thumbails.high.url"class="card-img-top"alt="...">
        <div class="card-body">
            <h5 class="card-title">({ video.channelTitle})</h5>
            <p class="card-text">
                <strong>Publicado;</strong>{{ video.publishedAt | date}}
             </p>   

             <button class="=btn btn-outline-primary btn-block">
                {click}="mostratVideo( video )">
                Ver video
             </button>
    </div>
</div>

 </div>

 <div class="row mt-5 nb-5 text-center">
     <div class="col">
         <button class="btn btn-primary btn-lg">
             Siguiente página
         </button>
     </div>
 </div>
